<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >

  <test name="IETest">
        <classes>
      <class name="Testcases.TC_CreateQuote"/>
    </classes>
    </test>
    
    
    <!-- <test name="ChromeTest">
    <parameter name="browser" value="IE" />
    <classes>
      <class name="Testcases.TC_CreateQuote"/>
    </classes>
  </test>  -->
  
  
</suite> <!-- Suite -->
